<div fxLayout="row" fxLayoutAlign="center none" >
    <md-card fxLayout="column"  fxFlexAlign="center" fxFlex="55" class="parking_lot_card">
        <h3>Smart Parking User Profile</h3>
        <div fxLayout="row">
            <div>
                <avatar  [avatardata]="avatarDataCircle1"></avatar>
            </div>
            <div fxFlexOffset="5">
                <p>
                  <strong>Username:</strong>
                    {{user.username}}
                </p>
                
                <p>
                  <strong>Email:</strong>
                    {{user.email}}
                </p>
            </div>
        </div>
    </md-card>
</div>