
.sp_menu_hover{
   background-color: rgb(242, 242, 242);
}
.sp_menu_cliked{
   background-color: rgb(230, 230, 230);
}
.sp_hide_element{
   display: none !important;
}
.sp_menu_item{
   cursor:pointer;
}
