.component_dashboard {
  height:80%;
  position: absolute;
}
.parking_lot{
    top: 45% !important;
    width: 100%;
    position: absolute;
}
.parking_lot_card{
    background-color: white;
}

md-sidenav {
  width: 15%;
}


.sp_height_break{
    height: 25px;
}
.sp_no_boxshadow{
    box-shadow:none !important;
}